@using Yana.Enums

@{
    //ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("AddEarlyAdopter", "Home", FormMethod.Post))
{
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enterate de las novedades de Luna</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="email" class="form-control" id="email" placeholder="email@example.com" name="email">
                    <br />
                    <div style="text-align: center;">
                        <label class="radio-inline">
                            <input type="radio" name="tipoAdopter" value="@Convert.ToInt32(EnumTipoEarlyAdopter.Profesional)" checked>Profesional
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tipoAdopter" value="@Convert.ToInt32(EnumTipoEarlyAdopter.Paciente)">Paciente
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tipoAdopter" value="@Convert.ToInt32(EnumTipoEarlyAdopter.Otro)">Otro
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn yanaButton">Suscribirse</button>
                </div>
            </div>
        </div>
    </div>
}


<div class="container-fluid landing-container">
    <div class="centered row">
        <div class="landing-text col-xs-12 col-md-6">
            <h1 data-wow-duration="=800ms" class="landing-title wow fadeIn animated"><span> L U N A</span></h1>
            <h2 data-wow-duration="1000ms" data-wow-delay="500ms" class="landing-subtitle wow fadeIn animated"><span class="color">Si lo sentís,</span> importa.</h2>
            <p data-wow-duration="1000ms" data-wow-delay="500ms" class="landing-p wow fadeIn animated">Construimos una herramienta que facilita el seguimiento y mejora la interacción entre psicólogos y pacientes</p>
            <button type="button" class="btn yanaButton" data-toggle="modal" data-target="#exampleModal">
                Conocenos
            </button>

            <ul class="social-links text-center">
                <li><a href="https://www.facebook.com/yanapsico.oficial"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="https://www.instagram.com/yanapsico.oficial"><i class="fa fa-instagram fa-lg"></i></a></li>
            </ul>
        </div>
        <!-- End Wrapper for slides -->
        <div class="col-xs-12 col-md-6">
            <img class="landing-image" src="./img/landing-image.jpg" />
        </div>
    </div>
</div>



<section id="features" class="features">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center mb50 wow fadeIn animated" data-wow-duration="500ms">
                <h2 class="blue-text">Psicólogos</h2>
                <div class="devider"><i class="fa fa-book fa-lg"></i></div>
                <div class="sec-sub-title text-center">
                    <p>
                        Luna ofrece una serie de herramientas para el tratamiento y seguimiento de diferentes patologías.
                        Nos enfocamos en brindar información precisa y detallada,
                        como así brindar una mayor sensación de acompañamiento durante el tratamiento
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container key-feature">
    <div class="centered row ">
        <div class="col-md-6 wow fadeInLeft" data-wow-duration="500ms">
            <div class="service-item">
                <div class="service-desc">
                    <h3>Notificaciones programadas y personalizadas</h3>
                    <p>
                        A traves de notificaciones preestablecidas obtendremos la información necesaria para diseñar nuestras estadisticas
                        y facilitar la deteccion de patrones. Con la posibilidad de generar notificaciones programadas,
                        el paciente se sentira más contenido
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <img class="landing-image" src="./img/notifications.jpg" />
        </div>
    </div>
</div>
<div class="container key-feature">
    <div class="centered row">
        <div class="col-xs-12 col-md-6">
            <img class="landing-image" src="./img/notebook.jpg" />
        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
            <div class="service-item">

                <div class="service-desc">
                    <h3>Registro diario de pensamiento</h3>
                    <p>
                        A traves de esta funcionalidad, no sera necesario llevar ningun tipo de anotador para llevar el registro.
                        Simplemente con tu smartphone podras ingresar en nuestro sitio y cargar lo ocurrido.
                        Además, podrás verificar las devoluciones de tu psicologo o ver el historico de los registros
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container key-feature">
    <div class="centered row">
        <div class="col-md-4 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="service-item">
                <div class="service-desc">
                    <h3>Estadísticas</h3>
                    <p><br /> Mediante nuestras estadisticas del estado emocional se podrán detectar patrones o picos de los diferentes estados emocionales</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 fadeInLeft" data-wow-duration="500ms" data-wow-delay="900ms">
            <img class="landing-image" src="./img/reporting.jpg" />
        </div>
    </div>
</div>



<section id="works" class="works clearfix">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center">
                <h2 class="blue-text">
                    Pacientes
                </h2>
                <div class="devider"><i class="fa fa-book fa-lg"></i></div>
            </div>

            <div class="sec-sub-title text-center">
                <p>
                    Con Luna, sentiras un seguimiento más cercano de tu tratamiento.
                    Trabajamos en conjunto con profesionales para mejorar la calidad de nuestro
                    servicio y brindarte asistencia de forma eficaz.
                </p>
            </div>

        </div>
    </div>


</section>


<section id="facts" class="facts">
    <div class="parallax-overlay">
        <div class="container">
            <div class="row number-counters">

                <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                    <h2 class="white-text">Luna en números</h2>
                    <div class="devider"><i class="fa fa-book fa-lg"></i></div>
                </div>

                <!-- first count item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="counters-item">
                        <i class="fa fa-user-md fa-3x"></i>
                        <strong data-to="@ViewBag.CantidadProfesionales">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Profesionales utilizan esta herramienta</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="counters-item">
                        <i class="fa fa-users fa-3x"></i>
                        <strong data-to="@ViewBag.CantidadPacientes">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Pacientes registrados</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item">
                        <i class="fa fa-bullhorn fa-3x"></i>
                        <strong data-to="@ViewBag.CantidadNotificaciones">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Notificaciones generadas</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="counters-item">
                        <i class="fa fa-pencil fa-3x"></i>
                        <strong data-to="@ViewBag.CantidadRegistrosDiarios">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Registros diarios de pensamiento cargados</p>
                    </div>
                </div>
                <!-- end first count item -->

            </div>
        </div>
    </div>
</section>


<section id="contact" class="contact">
    <div class="container">
        <div class="row mb50">

            <div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
                <h2 class="blue-text">Contacto</h2>
                <div class="devider"><i class="fa fa-book fa-lg"></i></div>
            </div>

            <div class="sec-sub-title text-center wow fadeIn animated" data-wow-duration="1000ms">
                <p>Si te interesa contar con los servicios de LUNA, dejanos tus datos y un asesor comercial se pondrá en contacto a la brevedad</p>
            </div>

            <!-- contact address -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 wow fadeInLeft animated" data-wow-duration="500ms">
                <div class="contact-address">
                    <h3>LUNA ~ si lo sentís, importa.</h3>
                    <p>Florencio Varela 1903 (B1754JEC)</p>
                    <p>San Justo, Buenos Aires, Argentina</p>
                    <p>(+5411) 4480-8900</p>
                </div>
            </div>
            <!-- end contact address -->
            <!-- contact form -->
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="contact-form">
                    <h3>Dejanos tus datos!</h3>
                    @using (Html.BeginForm("AddContact", "Home", FormMethod.Post))
                    {
                        <div class="input-group name-email">
                            <div class="input-field">
                                <input type="text" name="name" id="name" placeholder="Nombre" class="form-control" required="" oninvalid="this.setCustomValidity('Este campo es obligatorio')"
                                   oninput="this.setCustomValidity('')">
                            </div>
                            <div class="input-field">
                                <input type="email" name="email" id="email" placeholder="Email" class="form-control" required="" oninvalid="this.setCustomValidity('Ingrese un email válido')"
                                   oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="input-group">
                            <textarea name="message" id="message" placeholder="Mensaje" class="form-control" oninvalid="this.setCustomValidity('Este campo es obligatorio')" oninput="this.setCustomValidity('')"></textarea>
                        </div>
                        <div class="input-group">
                            <input type="submit" id="form-submit" class="pull-right" value="Enviar mensaje">
                        </div>
                    }
                </div>
            </div>
            
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="600ms">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/yanapsico.oficial"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li><a href="https://www.instagram.com/yanapsico.oficial"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
            </div>
            <!-- end footer social links -->

        </div>
    </div>



</section>