@using Yana.Helpers;
@using Yana.Enums;
@{
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}
<script src='@Url.Content("~/js/charts.js")' type="text/javascript"></script>
<style>

    .notification-card {
        padding: 10px;
        display: flex;
    }

    .notification-icon-image {
        border-radius: 10px;
        padding: 10px;
        margin-right: 10px;
    }
    .notification-icon-image.blue {
        background: #6385dc;
    }
    .notification-icon-image.green {
        background: #a7d39f;
    }
    .notification-icon-image.yellow {
        background: #ffb17e;
    }
    .notification-icon-image.red {
        background: #c84c42;
    }

    .notification-icon-image img {
        width: 30px;
        filter: brightness(100);
    }
        .luna-card{
        max-width: none !important;
        margin-bottom: 10px;
    }

    .chart-header {
        margin-bottom: 20px;
        text-align: center;
    }
</style>
<script type="text/javascript">

    $(function () {
        var notificacionesPendientes = '@Url.Action("GetNotificacionesCount", "Notificacion", new {estado= 1})';

        $.get(notificacionesPendientes, {}, function (data) {
            var categorias = [];
            var series = [];
        });

        var notificacionesEntregadas = '@Url.Action("GetNotificacionesCount", "Notificacion", new {estado= 2})';
        $.get(notificacionesEntregadas, {}, function (data) {
            var categorias = [];
            var series = [];
        });

        var notificacionesRespondidas = '@Url.Action("GetNotificacionesCount", "Notificacion", new {estado= 3})';
        $.get(notificacionesRespondidas, {}, function (data) {
            var categorias = [];
            var series = [];
        });


        var notificacionesVencidas = '@Url.Action("GetNotificacionesCount", "Notificacion", new {estado= 4})';
        $.get(notificacionesVencidas, {}, function (data) {
            var categorias = [];
            var series = [];
        });

        var url1 = '@Url.Action("GetRegistrosDiariosPorPaciente", "Home")';
        $.get(url1, {}, function (data) {
            var categorias = [];
            var series = [];
        });


        var url2 = '@Url.Action("GetEmocionesUltimaSemana", "Home")';
            $.get(url2, {}, function (data) {
                console.log("Emociones ultima semana", data);
                var categorias = [];
                var series = [];

                var firstElement = true;

                $.each(data, function (i, obj) {
                    if (firstElement) {
                        $.each(obj['listCategory'], function (i2, category) {
                            categorias.push(category);
                        });

                        firstElement = false;
                    }

                    var dataArray = [];

                    $.each(obj['listValue'], function (i2, obj2) {
                        dataArray.push(obj2);
                    });

                    series.push({
                        name: '' + obj['nameSerie'] + '',
                        color: obj['Color'],
                        data: dataArray
                    });

                });

                bindEmocionesSemana(categorias, series);
            });

        function bindEmocionesSemana(categorias, seriesData) {
            console.log(seriesData);
            const ctx = $('#emotionsChart');
            const labels = seriesData.map(s => s.name);
            const colors = ["#f08f00", "#f08f00", "#94f000", "#00f0b4", "#0058f0", "#8400f0", "#d800f0", "#f00094", "#f00050", "#f00000", "#f7af5c", "#f7af5c", "#90f75c"];
            const datasets = seriesData.map((d, index) => {
                let data = seriesData && seriesData.length > 0 ? seriesData.filter(s => s.name == d.name) : [];
                console.log('data', data)
                const dataset = data && data.length > 0 ? data[0].data : [];
                return {
                    label: d.name,
                    data: dataset,
                    backgroundColor: colors[index]
                }
                });


            const notificationChart2 = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    plugins: { legend: { display: false }, },
                    legend: {
                        display: false
                    },
                }
            })
        }

        // DE BARRAS
        var url3 = '@Url.Action("GetRespuestasNotificaciones", "Home")';
        $.get(url3, {}, function (data) {
                var categorias = [];
                var series = [];

                var firstElement = true;

                $.each(data, function (i, obj) {
                    if (firstElement) {
                        $.each(obj['listCategory'], function (i2, category) {
                            categorias.push(category);
                        });

                        firstElement = false;
                    }

                    var dataArray = [];

                    $.each(obj['listValue'], function (i2, obj2) {
                        dataArray.push(obj2);
                    });

                    series.push({
                        name: '' + obj.nameSerie + '',
                        color: obj.Color,
                        data: dataArray
                    });

                });

                bindRespuestaNotificaciones(categorias, series);
            });
        function bindRespuestaNotificaciones(categorias, seriesData) {
            const ctx = $('#myChart')
            const data = seriesData.filter(d => d.name == "Respondidas").map(r => r.data)[0];
            const notificationChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: categorias,
                    datasets: [{
                        label: 'Notificaciones respondidas',
                        data: !!data && data.length > 0 ? data : [],
                        backgroundColor: ["#f08f00", "#f08f00", "#94f000", "#00f0b4", "#0058f0", "#8400f0"],
                        borderRadius: 8
                    }],
                    options: {
                        responsive: true,
                    }
                }
            })
        }

        // DONITA
        var url4 = '@Url.Action("GetPacientesPorPatologia", "Home")';
        $.get(url4, {}, function (data) {

            var series = [];

            $.each(data, function (i, obj) {
                series.push({
                    name: '' + obj['nameSerie'] + '',
                    y: obj['value'],
                    selected: obj['selected'],
                    sliced: obj['sliced']
                });
            });

            bindPacientesPatologia(series);
        });
        function bindPacientesPatologia(seriesData) {
            const ctx = $('#pathologyChart');
            const labels = seriesData.map(r => r.name);
            const data = seriesData.map(r => r.y);
            const notificationChart2 = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    legend: {
                        display: false
                    },
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: ["#f08f00", "#8196eb", "#94f000", "#00f0b4", "#0058f0", "#8400f0"],
                    }]
                },
                options: {
                    plugins: { legend: { display: true }, },
                    legend: {
                        display: false
                    },
                    cutout: '70%',
                }
            })
        }


    });
</script>

<div class="container full" style="width: 100%">

    
                <div class="col-md-4 panel-heading" style="color: white; font-size: 25px; margin-bottom: 20px;">
                    <strong style="font-family: 'poppinsbold'">Hola,</strong> @UserCache.Nombre
                </div>
    <div class="row card" style="max-height: none !important;">

        <div class="col-md-12">
            <div class="row mb-5">
                <div class="col-md-3" style="text-align: center;">
                    <div class="notification-card d-flex align-items-center justify-content-center">
                        <div class="notification-icon-image blue">
                            <img src="~/img/icon/notification.png" />
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <div style="font-size: 12px;">Entregadas</div>
                            <div style="font-family: 'poppinsbold';">55</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <div class="notification-card d-flex align-items-center justify-content-center">
                        <div class="notification-icon-image green">
                            <img src="~/img/icon/notification.png" />
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <div style="font-size: 12px;">Respondidas</div>
                            <div style="font-family: 'poppinsbold';">7</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <div class="notification-card d-flex align-items-center justify-content-center">
                        <div class="notification-icon-image yellow">
                            <img src="~/img/icon/notification.png" />
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <div style="font-size: 12px;">Por vencer</div>
                            <div style="font-family: 'poppinsbold';">36</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <div class="notification-card d-flex align-items-center justify-content-center">
                        <div class="notification-icon-image red">
                            <img src="~/img/icon/notification.png" />
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <div style="font-size: 12px;">Vencidas</div>
                            <div style="font-family: 'poppinsbold';">12</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="luna-card">
                        <div class="chart-header">Pacientes por patologia</div>
                        <canvas id="pathologyChart" width="100"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="luna-card">
                        <div class="chart-header">Emociones recibidas</div>
                        <canvas id="emotionsChart" width="200" height="200"></canvas>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            </div>
        
    </div>
</div>

