
@{
    ViewData["Title"] = "PacienteList";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script type="text/javascript" language="javascript">

    const Create = () => window.location.assign("./PacienteManager/0");

    const Edit = (id) => window.location.assign("./PacienteManager/" + id);

    const Notificaciones = (id) => window.location.href = "@Url.Action("NotificacionList", "Notificacion")" + "?idPaciente=" + id;

    const Seguimiento = (id) => window.location.href = "@Url.Action("SeguimientoPacienteList", "SeguimientoPaciente")" + "?idPaciente=" + id;

    const RegistroDiario = (id) => window.location.href = "@Url.Action("RegistroDiarioList", "RegistroDiario")" + "?idPaciente=" + id;

    const buildCard = (paciente) => `
        <div class="d-flex align-items-center luna-card" style="width: 18rem;">
            <div class="card-info">
                <div class="user-image"><img src="/img/team/1.png"></div>
            </div>
            <div class="luna-card--body flex-grow-1">
                <h5 class="card-title">${paciente.apellido}, ${paciente.nombre}</h5>
                <div class="card-legend">${paciente.edad} años</div>
                <div class="luna-card-body">
                    <div class='card-item--container'><i class="fa fa-address-card-o" aria-hidden="true"></i><h6 class="card-subtitle">${paciente.dni}</h6></div>
                    <div class='card-item--container'><i class="fa fa-envelope-o" aria-hidden="true"></i><p class="card-subtitle">${paciente.email}</p></div>
                </div>
                <div class="d-flex justify-content-end luna-card--actions">
                    
                </div>
            </div>
            <div class="dropdown dropstart">
              <div data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
              <ul class="dropdown-menu">
                    <li><button class="dropdown-item luna-card--button" onclick="RegistroDiario(${paciente.idUsuario})"><img class="card-icon" src="/img/icon/book.png" />Registro diario</button></li>
                    <li><button class="dropdown-item luna-card--button" onclick="Seguimiento(${paciente.idUsuario})"><img class="card-icon" src="/img/icon/seguimiento.png" />Seguimiento</button></li>
                    <li><button class="dropdown-item luna-card--button" onclick="Notificaciones(${paciente.idUsuario})"><img class="card-icon" src="/img/icon/notification.png" />Notificaciones</button></li>
                    <li><button class="dropdown-item luna-card--button" onclick="Edit(${paciente.idUsuario})"><img class="card-icon" src="/img/icon/pencil.png" />Editar</button></li>
              </ul>
            </div>
            
        </div>
    `;

    $(document).ready(function () {
        $.get('@Url.Action("GetPacientes", "Paciente")', function (data) {
            let pacientes = data;
            if (!pacientes || pacientes.length == 0) {
                $('#list').append("No hay ningun paciente creado.");
                return;
            }
                        
            let cards = '';
            pacientes.forEach(p => {
                console.log(p);
                cards += buildCard(p)
            });
            
            $('#list').append(cards);
        });
    });
</script>

<style>
    .luna-card {
        height: fit-content;
        box-sizing: border-box;
        position: relative;
        min-width: 30%;
        transition: .4s;
        background: white;
        background: white;
        padding: 10px;
        margin: 10px;
        border: none;
        border-radius: 30px;
        box-shadow: 0 0 2px 0 #00000021;
    }

    .card-legend {
        color: #9f9f9f;
        font-size: 12px;
    }

    .luna-card-body {
        font-size: 10px;
    }

    .card-item--container {
        display: flex;
        align-items: center;
    }
    .luna-card:hover {
        box-shadow: 0 0 10px 0 #8080803d;
        
    }

    .luna-card--body {
        margin: 20px 10px;
        width: 20%;
        text-overflow: ellipsis;
    }

    .card-info {
        margin: 0 15px 0 20px;
    }

    .card-title {
        font-family: poppinsbold;
    }
    
    .card-subtitle {
        margin: 2px 0;
        font-size: 12px;
    }

   .card-text {
        font-size: 12px;
        margin: 5px 0;
   }

   .luna-card--actions {
   }

    .luna-card--button {
        font-size: 12px;
        text-transform: uppercase;
        color: #6385DC;
    }

    #list {
        flex-shrink: 1;
        align-content: flex-start;
    }


    .card-icon {
        margin-right: 5px;
        height: 15px;
        width: 15px;
        transition: .4s;
    }

    .dropdown {
        align-self: flex-start;
        cursor: pointer;
        padding: 10px;
    }

        .dropdown button {
            text-transform: none;
            color: black;
        }
</style>

<div class=" dashboard-content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="flex-container">
                        <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                            <strong style="font-family: 'poppinsbold'">Sus pacientes</strong>
                        </div>
                        <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i> Nuevo Paciente</button>
                    </div>

                    <div id="divMessagesP" class="ui-state-highlight ui-corner-all" style="display: none;">
                        <p align="left">
                            <div class="alert alert-danger">
                                <strong>Error!</strong><label id="lblErrorP" style="font-size: 12px; color: firebrick; font-weight: bold; margin-left: 5px;">@TempData["messageERROR"]</label>
                            </div>
                        </p>
                    </div>

                    <div id="list" class="d-flex flex-wrap overflow-scroll" cellpadding="0" cellspacing="0" style="margin-top: 2em;">
                    </div>

                    <div class="panel-body">
                        <p style="color: red; font-weight: 900;">@TempData["messageERROR"]</p>
                        <div>
                            <div id="pager" class="" style="text-align: center;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

