@model Yana.Models.DomainEntities.Institucion
@{
    ViewData["Title"] = "InstitucionManager";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script>
    function PostForm() {
        if (IsValid()) {
            $("#lblErrorP").text("");

            var formData = $('#frmInstitucion').serialize();
            $.ajax({
                url: '@Url.Action("InstitucionManager", "Institucion")',
                type: "POST",
                data: formData,
                success: function (result) {
                    window.location.assign("../InstitucionList");
                }
            });
        }
    }

    function IsValid() {
        HideDivMessageP();

        var field;

        field = $("#Nombre").val();
        if (field.length == 0) {
            $("#lblErrorP").text("Debe ingresar el Nombre de la Institución.");
            ShowDivMessageP();
            return false;
        }

        return true;
    }

    function ShowDivMessageP() {
        scroll(0, 0);
        $("#divMessagesP").show("slow", function () { });
    }

    function HideDivMessageP() {
        $("#divMessagesP").hide();
    }

    $(document).ready(function () {
        if ($("#lblErrorP").text().length > 0)
            ShowDivMessageP();
    });

    function EliminarInstitucion() {

        var idInstitucion = @Model.IdInstitucion;

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteInstitucion", "Institucion")',
            data: { idInstitucion: idInstitucion },
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                $("#lblError").text(data.errorMessage);
                if (data.errorMessage.length > 0) {
                    ShowDivMessageP();
                }
                else {
                    window.location.assign('@Url.Action("InstitucionList", "Institucion")');
                }
            },
            failure: function (data) {
                alert("failure");
            }
        });
    }

</script>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminación de Institución</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: left;">
                ¿Seguro que desea eliminar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn yanaButtonGrey" data-dismiss="modal"><i class='fa fa-undo fa-lg'></i>Cancelar</button>
                <button type="button" class="btn yanaButton" onclick="EliminarInstitucion();"><i class='fa fa-check-square fa-lg'></i>Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="container dashboard-content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @{
                            string titulo = Model.IdInstitucion == 0 ? "Nueva Institución" : "Editar Institución";
                        }
                        @titulo
                    </div>
                    <div id="divMessagesP" class="ui-corner-all" style="display: none;">
                        <p align="left">
                            <div class="alert alert-danger" style="text-align: left;">
                                <label id="lblErrorP" style="font-size: 12px; color: firebrick; font-weight: bold; margin-left: 5px;">@TempData["messageERROR"]</label>
                            </div>
                        </p>
                    </div>
                    <div class="panel-body" id="divPanelBody">
                        @using (Html.BeginForm("InstitucionManager", "Institucion", Model, FormMethod.Post, false, new { id = "frmInstitucion" }))
                        {
                            <input id="IdInstitucion" name="IdInstitucion" value="@Model.IdInstitucion" style="display:none;" />
                            <div class="form-group mt-5" style="text-align: left;">
                                <label>Nombre*</label>
                                <input type="text" class="form-control" placeholder="" id="Nombre" name="Nombre" value="@Model.Nombre" maxlength="200" autofocus />
                            </div>
                            <br />
                            <div class="row">

                                @{
                                    if (Model.IdInstitucion != 0)
                                    {
                                        <div class="col-md-6"></div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn yanaButton" data-toggle="modal" data-target="#deleteModal"><i class='fa fa-trash fa-lg'></i>Eliminar</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-8"></div>
                                    }
                                }
                                <div class="col-md-2">
                                    <button onclick="window.location.assign('@Url.Action("InstitucionList", "Institucion")')" class="btn yanaButton"><i class='fa fa-undo fa-lg'></i>Volver</button>
                                </div>
                                <div class="col-md-2">
                                    <button onclick="PostForm();return false;" class="btn yanaButton" ><i class='fa fa-save fa-lg'></i>Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

