@model Yana.Models.DomainEntities.RegistroDiario;
@using Yana.Helpers;
@using Yana.Enums;
@{
    ViewData["Title"] = "RegistroDiarioManager";
Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script>
    function PostForm() {
        if (IsValid()) {
            $("#lblErrorP").text("");

            var formData = $('#frmRegistroDiario').serialize();
            $.ajax({
                url: '@Url.Action("RegistroDiarioManager", "RegistroDiario")',
                type: "POST",
                data: formData,
                success: function (result) {
                    window.location.assign("../RegistroDiarioList");
                }
            });
        }
    }

    function ResponderRegistroDiario() {

        if (IsValid()) {
            $("#lblErrorP").text("");

            var formData = $('#frmRegistroDiarioRespuesta').serialize();
        $.ajax({
            type: "POST",
            url: '@Url.Action("RegistroDiarioRespuestaManager", "RegistroDiario")',
            data: formData,
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                $("#lblError").text(data.errorMessage);
                if (data.errorMessage.length > 0) {
                    ShowDivMessageP();
                }
                else {
                    window.location.assign('@Url.Action("RegistroDiarioList", "RegistroDiario", new { idPaciente = ViewBag.IdPaciente })');
                }
            },
            failure: function (data) {
                alert("failure");
            }
        });
    }
</script>

<!-- Modal -->
<div class="modal fade" id="responderModal" tabindex="-1" role="dialog" aria-labelledby="responderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Respuesta Registro Diario</h5>
                <div class="panel-body" id="divPanelBody">
                    @{ var respuesta = Model.RegistroDiarioRespuesta.FirstOrDefault(x => x.IdRegistroDiario == Model.IdRegistroDiario);}
                    @using (Html.BeginForm("RegistroDiarioRespuestaManager", "RegistroDiario", respuesta, FormMethod.Post, false, new { id = "frmRegistroDiarioRespuesta" }))
                    {
                        if (respuesta != null)
                        {
                            <input id="IdRegistroDiarioRespuesta" name="IdRegistroDiarioRespuesta" value="@respuesta.IdRegistroDiarioRespuesta" style="display:none;" />
                            <input id="IdRegistroDiario" name="IdRegistroDiario" value="@Model.IdRegistroDiario" style="display:none;" />
                            <input id="IdPaciente" name="IdPaciente" value="@Model.IdPaciente" style="display:none;" />
                            <div class="form-group" style="text-align: left;">
                                <label>Nota</label>
                                <textarea required name="Nota" rows="5" class="form-control" autofocus>@respuesta.Nota</textarea>
                                <div class="modal-footer">
                                    @if (UserCache.IdPerfil == Convert.ToInt32(EnumPerfilUsuario.Profesional))
                                    {
                                        <button type="button" class="btn yanaButtonGrey" data-dismiss="modal"><i class='fa fa-undo fa-lg'></i>Cancelar</button>
                                        <button onclick="ResponderRegistroDiario();return false;" class="btn yanaButton"><i class='fa fa-save fa-lg'></i>Guardar</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn yanaButton" data-dismiss="modal"><i class='fa fa-undo fa-lg'></i>Volver</button>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <input id="IdRegistroDiarioRespuesta" name="IdRegistroDiarioRespuesta" value="" style="display:none;" />
                            <input id="IdRegistroDiario" name="IdRegistroDiario" value="@Model.IdRegistroDiario" style="display:none;" />
                            <input id="IdPaciente" name="IdPaciente" value="@Model.IdPaciente" style="display:none;" />
                            <div class="form-group" style="text-align: left;">
                                <label>Nota</label>
                                <textarea required name="Nota" rows="5" class="form-control" autofocus></textarea>
                                <div class="modal-footer">
                                    <button type="button" class="btn yanaButtonGrey" data-dismiss="modal"><i class='fa fa-undo fa-lg'></i>Cancelar</button>
                                    <button onclick="ResponderRegistroDiario();return false;" class="btn yanaButton"><i class='fa fa-save fa-lg'></i>Guardar</button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container dashboard-content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-family: 'poppinsbold'; font-size: 30px; margin-bottom: 30px;">
                        @{
                            string titulo = @Model.IdRegistroDiario == 0 ? "Nuevo Registro Diario" : "Registro Diario";
                        }
                        @titulo
                    </div>
                    <div id="divMessagesP" class="ui-corner-all" style="display: none;">
                        <p align="left">
                            <div class="alert alert-danger" style="text-align: left;">
                                <label id="lblErrorP" style="font-size: 12px; color: firebrick; font-weight: bold; margin-left: 5px;">@TempData["messageERROR"]</label>
                            </div>
                        </p>
                    </div>
                    <div class="panel-body overflow-scroll" id="divPanelBody">
                        @using (Html.BeginForm("RegistroDiarioManager", "RegistroDiario", Model, FormMethod.Post, false, new { id = "frmRegistroDiario" }))
                        {
                            <input id="IdRegistroDiario" name="IdRegistroDiario" value="@Model.IdRegistroDiario" style="display:none;" />

                            <div class="row mb-3">
                                <div class="form-group" style="text-align: left;">
                                    <label for="exampleFormControlInput1" class="form-label">Que paso?</label>
                                    <input type="text" required class="form-control" name="Situacion" value="@Model.Situacion" autofocus placeholder="Describe la situacion">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="form-group" style="text-align: left;">
                                    <label for="exampleFormControlInput1" class="form-label">Por que te sentis asi?</label>
                                    <input type="text" required class="form-control" name="MotivoSituacion" value="@Model.MotivoSituacion" autofocus placeholder="Describe el motivo de la situacion">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xs-12 col-sm-6 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Que tipo de emocion sentiste?</label>
                                    @Html.DropDownListFor(x => x.IdTipoEmocion, (IEnumerable<SelectListItem>)ViewBag.Emociones, "Seleccionar una emoción",
                                            new { @class = "form-control", id = "IdTipoEmocion", required = true })
                                </div>

                                <div class="col mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Con que intensidad lo sentiste?</label>
                                    <input type="range" min="1" max="100" required class="form-range" name="Situacion" value="@Model.IntensidadEmocion" autofocus placeholder="Intensidad">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xs-12 col-sm-6">
                                    <label for="exampleFormControlInput1" class="form-label">Cual fue el pensamiento Automatico?</label>
                                    <input type="text" required class="form-control" name="MotivoSituacion" value="@Model.MotivoSituacion" autofocus placeholder="Que sentiste ni bien sucedió?">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label for="exampleFormControlInput1" class="form-label">Grado de Creencia</label>
                                    <input type="range" min="0" max="100" value="@Model.GradoCreenciaPensamientoAutomatico" class="form-range" name="GradoCreenciaPensamientoAutomatico">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xs-12 col-sm-6">
                                    <label for="exampleFormControlInput1" class="form-label">Respuesta Racional</label>
                                    <input type="text" required class="form-control" name="RespuestaRacional" value="@Model.RespuestaRacional" autofocus placeholder="Cual fue tu respuesta racional?">
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <label for="exampleFormControlInput1" class="form-label">Grado de Creencia</label>
                                    <input type="range" min="0" max="100" value="@Model.GradoCreenciaRespuestaRacional" name="GradoCreenciaRespuestaRacional" class="form-range">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xs-12 col-sm-6 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Al final de todo, que tipo de emocion sentiste?</label>
                                    @Html.DropDownListFor(x => x.IdTipoEmocionResultado, (IEnumerable<SelectListItem>)ViewBag.EmocionesResultado, "Seleccionar una emoción",
                                            new { @class = "form-control", id = "IdTipoEmocionResultado", required = true })
                                </div>

                                <div class="col-xs-12 col-sm-6 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Grado de creencia resultado</label>
                                    <input type="range" min="0" max="100" value="@Model.GradoCreenciaRespuestaRacional" name="GradoCreenciaResultado" class="form-range">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <button onclick="window.location.assign('@Url.Action("RegistroDiarioList", "RegistroDiario", new { idPaciente = ViewBag.IdPaciente })'); return false;" class="btn yanaButton"><i class='fa fa-undo fa-lg'></i>Volver</button>
                                </div>

                                @{
                                    if (Model.IdRegistroDiario == 0)
                                    {

                                        <div class="col-md-6 d-flex justify-content-center">
                                            <button onclick="PostForm();return false;" class="btn yanaButton"><i class='fa fa-save fa-lg'></i>Guardar</button>
                                        </div>
                                    }
                                    else if (UserCache.IdPerfil == Convert.ToInt32(EnumPerfilUsuario.Profesional) || Model.RegistroDiarioRespuesta != null && Model.RegistroDiarioRespuesta.Any() != false)
                                    {

                                        <div class="col-md-6 d-flex justify-content-center">
                                            <button type="button" class="btn yanaButton" data-toggle="modal" data-target="#responderModal"><i class='fa fa-reply fa-lg'></i>Respuesta</button>
                                        </div>
                                    }
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
