@using Yana.Helpers;
@using Yana.Enums;
@{
    ViewData["Title"] = "RegistroDiarioList";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script type="text/javascript" language="javascript">

    function Create() {
        window.location.assign("./RegistroDiarioManager?idRegistroDiario=0&idPaciente=" + @ViewBag.IdPaciente);
    };

    function VerMas(id) {
        window.location.assign("./RegistroDiarioManager?idRegistroDiario=" + id + "&idPaciente=" + @ViewBag.IdPaciente);
    };

    function imageFormatter(cellvalue, options, rowObject){
        if (cellvalue == 1)
            return "<img src='../img/green_bullet.png' alt='green_bullet' title='Respondido' />";
        else if (cellvalue == 0)
            return "<img src='../img/red_bullet.png' alt='red_bullet' title='Sin Responder' />";
    };

    
    $(document).ready(function () {
        $.get('@Url.Action("GetRegistroDiario", "RegistroDiario", new { idPaciente = 3})', function (data) {
            let registros = data.registroDiarios;
            let headers = `  <thead><tr>
                                <th scope="col">Motivo</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Motivo</th>
                           </tr></thead>`
            let rows = '<tbody>';
            registros.forEach(r => {
                rows += `<tr>
                            <td>${r.motivoSituacion}</td>
                            <td>${r.motivoSituacion}</td>
                            <td>${r.motivoSituacion}</td>
                            <td>${r.motivoSituacion}</td>
                        </tr>`
            });
            rows += `</tbody>`;
            $('#list').append(headers);
            $('#list').append(rows);
        });
    });
</script>

<br />
<div class="container dashboard-content">
    <div id="page-wrapper">
        <div class="row mb50">
            <div class="col-md-12">
                <div class="panel panel-default">
                    
                    <h1>Hola, Nicolas</h1>
                    
                    <div class="panel-heading" id="panelHead">
                        <div class="flex-container">

                        Registro Diario
                        @{
                            if (UserCache.IdPerfil == Convert.ToInt32(EnumPerfilUsuario.Paciente))
                            {
                                <button class="btn yanaButton" onclick="Create();"><i class='fa fa-plus-square fa-lg'></i> Nuevo Registro Diario</button>
                            }
                        }
                        </div>
                    </div>
                    <div id="divMessagesP" class="ui-state-highlight ui-corner-all" style="display: none;">
                        <p align="left">
                            <div class="alert alert-danger">
                                <strong>Error!</strong><label id="lblErrorP" style="font-size: 12px; color: firebrick; font-weight: bold; margin-left: 5px;">@TempData["messageERROR"]</label>
                            </div>
                        </p>
                    </div>
                    <div class="panel-body">
                        <p style="color: red; font-weight: 900;">@TempData["messageERROR"]</p>
                        <div>
                            <table id="list" class="table" cellpadding="0" cellspacing="0" style="margin: 4em 0;">
                                
                                
                            </table>
                            <div id="pager" class="scroll" style="text-align: center;">
                            </div>
                            @if (UserCache.IdPerfil != Convert.ToInt32(EnumPerfilUsuario.Paciente))
                            {
                                <br />
                                <div class="row">
                                    <div class="col-md-10"></div>
                                    <div class="col-md-2">
                                        <button onclick="window.location.assign('@Url.Action("PacienteList", "Paciente")'); return false;" class="btn yanaButton"><i class='fa fa-undo fa-lg'></i>Volver</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
