@using Yana.Helpers
@using Yana.Enums
@using Yana.Models.WrapperEntities
@{
    var menuItems = UserCache.MenuItems;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LUNA ~ Si lo sentís, importa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-5.2.1.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/siteLoggedLayout.css">
    <link rel="stylesheet" href="~/css/Menu.css" type="text/css" />
    

    <script src='@Url.Content("~/js/jquery-3.6.1.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/js/bootstrap.bundle.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/js/bootstrap-5.2.1.min.js")' type="text/javascript"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/validators.js"></script>

</head>
    <body>
        <div class="dashboard">
            @if (UserCache.IdPerfil != 0)
            {
                    <div class="sidebar">
                        <div class="sidebar-logo--container">
                            <img class="sidebar-logo" src="~/img/logo.png"/>
                        </div>
                        <div id="sidebar-menu" class="sidebar-menu">

                            @if (UserCache.IdPerfil == Convert.ToInt32(EnumPerfilUsuario.Administrador))
                            {
                                <div class="menu-container">
                                    <a class="menu-item" href="@Url.Action("Default", "Home")">
                                        <img class="menu-icon" src="~/img/icon/home.png" />
                                        <small class="hide-mobile">Inicio</small>
                                    </a>
                                    <a class="menu-item" href="@Url.Action("InstitucionList", "Institucion")">
                                        <img class="menu-icon" src="~/img/icon/institution.png" />
                                        <small class="hide-mobile">Instituciones</small>
                                    </a>
                                    <a class="menu-item" href="@Url.Action("PsicologoList", "Psicologo")">
                                        <img class="menu-icon" src="~/img/icon/psychologist.png" />
                                        <small class="hide-mobile">Psicologos</small>
                                    </a>
                                    <a class="menu-item" href="@Url.Action("PatologiaList", "Patologia")">
                                        <img class="menu-icon" src="~/img/icon/pathology.png" />
                                        <small class="hide-mobile">Patologia</small>
                                    </a>
                                    <a class="menu-item" href="@Url.Action("PacienteList", "Paciente")">
                                        <img class="menu-icon" src="~/img/icon/patient.png" />
                                        <small class="hide-mobile">Pacientes</small>
                                    </a>
                                    <a class="menu-item" href="@Url.Action("RegistroDiarioList", "RegistroDiario")">
                                        <img class="menu-icon" src="~/img/icon/book.png" />
                                        <small class="hide-mobile">Registro diario</small>
                                    </a>
                                </div>
                            }

                            @if (UserCache.IdPerfil == Convert.ToInt32(EnumPerfilUsuario.Paciente))
                            {
                                <div class="menu-container">
                                    <a class="menu-item" href="@Url.Action("Default", "Home")">
                                        <img class="menu-icon" src="~/img/icon/home.png" />
                                        <small class="hide-mobile">Inicio</small>
                                    </a>
                                    <a class="menu-item" href="@Url.Action("RegistroDiarioList", "RegistroDiario")">
                                        <img class="menu-icon" src="~/img/icon/book.png" />
                                        <small class="hide-mobile">Registro diario</small>
                                    </a>
                                </div>
                            }

                            @if (UserCache.IdPerfil == Convert.ToInt32(EnumPerfilUsuario.Profesional))
                            {
                                <div class="menu-container">
                                    <a class="menu-item" href="@Url.Action("Default", "Home")">
                                        <img class="menu-icon" src="~/img/icon/home.png" />
                                        <small class="hide-mobile">Inicio</small>
                                    </a>
                                    <a class="menu-item" href="@Url.Action("PacienteList", "Paciente")">
                                        <img class="menu-icon" src="~/img/icon/patient.png" />
                                        <small class="hide-mobile">Pacientes</small>
                                    </a>
                                </div>
                            }

                            @if (UserCache.IdPerfil == Convert.ToInt32(EnumPerfilUsuario.Institucion))
                            {
                                <div>Insti</div>
                            }
                            </div>
                        

                        <div href="#"
                             class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none flex-column"
                             aria-expanded="false">
                            <img src="https://github.com/mdo.png"
                                 alt="mdo"
                                 width="24"
                                 height="24"
                                 class="rounded-circle" />
                            <a class="dropdown-item">@Html.ActionLink("Salir", "Logout", "Home")</a>
                        </div>
                    </div>
            }
            @RenderBody()
        </div>
    </body>
</html>