@model List<Yana.Models.DomainEntities.Notificacion>
@using Yana.Models.Enums;
@{
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script type="text/javascript" language="javascript">

    function Answer(id) {
        location.href = "@Url.Action("NotificacionRespuesta", "Notificacion")" + "?idNotificacion=" + id;
    };

    $(document).ready(function () {
        
    });
</script>

<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 25px; margin-bottom: 20px;">
                        <strong style="font-family: 'poppinsbold'">Tus notificaciones</strong>
                    </div>
                    <div class="panel-body d-flex flex-wrap" id="divPanelBody">
                        @{
                            if (Model.Any())
                            {
                                @foreach (Yana.Models.DomainEntities.Notificacion notificacion in Model)
                                {
                                    double minutosVencidos = (Convert.ToDateTime(DateTime.Now) - Convert.ToDateTime(notificacion.FechaHora)).TotalMinutes;
                                    string notificationCssClass = string.Empty;

                                    if (minutosVencidos > 0 && minutosVencidos <= (int)EnumLimiteVencimientoNotificacion.AlDia)
                                    {
                                        notificationCssClass = "Nueva";
                                    }
                                    else if (Math.Abs(minutosVencidos) > (int)EnumLimiteVencimientoNotificacion.AlDia && Math.Abs(minutosVencidos) <= (int)EnumLimiteVencimientoNotificacion.Demorada)
                                    {
                                        notificationCssClass = "Por-vencer";
                                    }
                                    else if (Math.Abs(minutosVencidos) > (int)EnumLimiteVencimientoNotificacion.Demorada)
                                    {
                                        notificationCssClass = "Vencida";
                                    }
                                    
                                        <div class="card" style="overflow-x: auto;">
                                            <table id="list" class="luna-table dataTable" style="border-spacing: 20px;margin-top: 2em;">
                                                <tbody>
                                                    <tr class="luna-card">
                                                        <td>
                                                            <div style="color: #6385dc; font-family: poppinsbold;">Fecha</div>
                                                            @notificacion.FechaHora.ToString()
                                                        </td>
                                                        <td>
                                                            <div style="color: #6385dc; font-family: poppinsbold;">Mensaje</div>
                                                            @notificacion.Mensaje
                                                        </td>
                                                        <td>
                                                            <div style="color: #6385dc; font-family: poppinsbold;">Estado</div>
                                                            <div class="card-status @notificationCssClass">@notificationCssClass.Replace('-', ' ')</div>
                                                        </td>
                                                        <td>
                                                            <div style="color: #6385dc; font-family: poppinsbold;">Acción</div>
                                                            <button class="btn yanaButton" onclick="Answer(@notificacion.IdNotificacion);">Responder</button>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    
                                }
                            }
                            else
                            {
                                <div class="d-flex align-items-center luna-card justify-content-between pl-5"
                                     style="width: 100% !important; max-width: 100% !important">
                                    <div class="d-flex align-items-center justify-content-center flex-grow-1">
                                        No hay notificaciones pendientes.
                                    </div>
                                    <img src="~/img/no-notificacions.jpg" style="width: 20%;"/>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
